/*common part*/


.section-join-program {
    background: linear-gradient(to top, rgba(65, 65, 65, .5), rgba(65, 65, 65, .5)),
                url(../../assets/images/join-our-program.png)
    no-repeat center/cover;
    height: 435px;
    max-width: 100%;
    color: white;
}


@media only screen and (max-width: 768px) {
    .app-section--join-program {
        height: 523px;
        background-position: 30% 0%;
    }
}
