.input {
    width: 400px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 20px;
    border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.button-subscribe {
    background-color: #55C2D8;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    height: 35px;
    border-radius: 26px;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin: 60px 30px 108px;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.button-disabled {
    opacity: 0.5;
}
