.toggle-button {
    position: absolute;
    top: 2px;
    right: 100px;
    cursor: pointer;
    border: 1px solid #b90728;
    background: #FFFFFF;
    color: #b90728;
    padding: 0.5rem 0;
    width: 150px;
}
