.community-cards {
    display: flex;
    padding: 60px 0 70px;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .community-cards {
        flex-direction: column;
        overflow: hidden;
        height: 350px;
    }
}
