.card {
    text-align: center;
    cursor: pointer;
    width: 230px;
    padding: 30px 40px;
    margin: 0 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.card-fullname {
    margin-top: 40px;
    font-size: 12px;
    line-height: 17.5px;
    color: #464547;
    text-transform: uppercase;
    font-weight: bold;
}

div.card-position {
    margin: 10px auto 0;
    width: 100px;
    font-size: 12px;
    line-height: 16px;
}
